body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

/* SIDEBAR */
.Barra {
  width: 220px;
  height: 100vh;
  background-color: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: center;
  padding: 20px;
}