* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #424e61;
  color: rgb(255, 255, 255);
  width: 100%;
  height:50% ;
  padding: 20px;
}

.cabecalho-itens {
 display: flex;
 align-items: center;
 justify-content: space-between; 
}

.titulo_site {
 padding: 50px;
 text-align: center;
 width: 50%;
 font-size: 30px;
 color:rgb(86, 38, 131)
}
