* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teste_quadrado{
  background-color: #424e61;
  width: 10000;
}

.teste_texto {
 padding: 50px;
 text-align: center;
width: 50%;
 font-size: 30px;
}